.astros-section {
    margin-top: 4em;
}

.astros-section p {
    font-style: italic;
    font-size: 1rem;
}

.astros-section ul {
    list-style-type: none;
}

.astros-section span {
    margin-right: 0.7rem;
}